body{
	
	background-color:#ccf6a3;
}
#container{
	width:1050px;
	height:800px;
	position:relative;
	margin-top:40px;
	margin-left:103px;
	background-color:white;
	border-right:1px solid white;
	border-left:1px solid white;

}


#head{
	height:50px;
	color:white;
}

#logo{
	
	font-family:"Berlin Sans FB";
	font-style:italic;
	font-size:20px;
	color:#685a5a;
	height:30px;
	margin-left:500px;
}
#sf{
	font-family:"Arial";
	font-style:normal;
	font-weight:bold;
	font-size:25px;
	color:#5e048f;
	margin:10px 0px 0px 550px;
}

#nav{
	display:block;
	position:absolute;
	width:40%;
	height:45px;
	color:#FFFFFF;
	background-color:#e08f4e;
	font-weight:bold;
	font-size:14px;
	margin:-76px 0px 0px 330px;
	}

#nav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#nav ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#nav li a:visited{
	display:block;
	margin:0 15px 0 0;
	padding:14px 15px;
	color:#FFFFFF;
	background-color:#e08f4e;
	}

#nav li a:link{
	display:block;
	margin:0 15px 0 0;
	padding:14px 15px;
	color:#FFFFFF;
	background-color:#e08f4e;
	}

#nav li a.active{
	color:#FFFFFF;
	background-color:#669933;;
	}
	
#nav li a:hover{
	color:#FFFFFF;
	background-color:#669933;;
	}
	
#nav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#6A6A6A;
	background-color:#e08f4e;
	}
	
#nav li li a:link{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#6A6A6A;
	background-color:#e08f4e;
	}
	
#nav li li a:hover{
	color:#FFFFFF;
	background-color:#669933;
	}

#nav li ul{
	background: #FFFFFF;
	z-index:9999;
	position: absolute;
	left: -999em;
	height:auto;
	width:170px;
	border:1px solid #6A6A6A;
	border-top:none;
	}

#nav li ul a{width: 140px;}

#nav li ul ul{margin: -32px 0 0 0;}

#nav li:hover ul ul{left: -999em;}

#nav li li:hover ul{left:auto;}

#nav li:hover ul{left:auto;}

#nav li:hover{ position: static;}




#leftbar{
float:left;
width: 15%;
background-image: url("bkgrnd/159.gif");
height:770px;
}

#center{

float:left;
width: 69%;
border-right:1px;
margin-left:-10px;
font-weight:bold;
}

#rightbar{
position:relative;
float:right;
width: 15%;
background-image: url("bkgrnd/159.gif");
height:770px;

}

#footer{
position:relative;
margin-left:102px;
font-weight:bold;	
}

#footer {height: 20px; width: 1052px; padding-left: 1px; padding-top: 6px; padding-bottom: 6px; background-color:#685a5a;}
#footer ul{list-style: none; margin: 0px; padding: 0px; color: #ffffff; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
#footer ul li.topnav-items{float: left; width: 200px; height: 20px; margin-right: 6px; background: url(../images/nav_btn.jpg) no-repeat; text-align: center; padding: 0px; line-height: 18px; vertical-align:middle; cursor: pointer; position: relative;}
#footer a{color: #ffffff; text-decoration: none;}
#footer a:hover {color: #ffffff; text-decoration: none;}



#topnavigation {height: 20px;width: 962px; padding-left: 91px; padding-top: 6px; padding-bottom: 6px; background-color:#685a5a; margin-left:-1px;}
#topnavigation ul{list-style: none; margin: 0px; padding: 0px; color: #ffffff; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
#topnavigation ul li.topnav-items{float: left; width: 140px; height: 20px; margin-right: 6px; background: url(../images/nav_btn.jpg) no-repeat; text-align: center; padding: 0px; line-height: 18px; vertical-align:middle; cursor: pointer; position: relative;}
#topnavigation a{color: #ffffff; text-decoration: none;}
#topnavigation a:hover {color: #ffffff; text-decoration: none;}
#topnavigation ul li#current-navigation {background: url(images/nav_btn_current.jpg) no-repeat;}
#topnavigation ul li.topnav-items:hover{background: url(images/nav_btn_hover.jpg) no-repeat;}
#topnavigation ul li#current-navigation:hover{background: url(images/nav_btn_current.jpg) no-repeat;}

.post{
	font-size:16px;
	color:black;
	text-decoration:none;
}

#breadcrumb{
position:relative;
	font-size:14px;
	color:#5e048f;
	margin-top:-800px;
	margin-left:-450px;
}

#home_center
{
	margin-top:70px;
}

#task_top{
	border-bottom:solid gray 1px;
	margin-left:25px;
}

#less{
	float:left;
	margin-left:50px;
}

#more{
	float:right;
	margin-right:30px;
}

#postings{
	position:reative;
	margin-left:50px;
	font-weight:lighter;
}

#selected{
	color:brown;
	text-decoration:underline;
}


#center1{
float:left;
width: 69%;
margin-right:-15px;
margin-top:-15px;
margin-left:-2px;
font-weight:regular;
}

#center2{

float:left;
width: 69%;
border-right:1px;
margin-left:-10px;
font-weight:bold;
}

.warning{
	background-color: silver;
	position:relative;
	margin:-25px 10px 10px -55px;
	left:50px;
	width:630px;
	font-size:small;
}

.highlight{
	{float:right;
	position:absolute;
	left:0px;
	width:300px;
	background-color:#b0e0e6;
}
}
#container1{
	width:1050px;
	height:1630px;
	position:relative;
	margin-top:40px;
	margin-left:103px;
	background-color:white;
	border-right:1px solid white;
	border-left:1px solid white;

}

#leftbar1{
	float:left;
	width: 15%;
	background-image: url("bkgrnd/159.gif");
	height:1600px;
}

#rightbar1{
	position:relative;
	float:right;
	width: 15%;
	background-image: url("bkgrnd/159.gif");
	height:1600px;

}

#breadcrumbTask1_page1{
	position:relative;
	font-size:14px;
	color:#5e048f;
	margin-top:20px;
	margin-left:-450px;
}

#task_top_pg1{
	
	margin-left:25px;
}

.task1_posting{
	float:left;
}

#container_task1_pg2{
	width:1050px;
	height:1200px;
	position:relative;
	margin-top:40px;
	margin-left:103px;
	background-color:white;
	border-right:1px solid white;
	border-left:1px solid white;

}
#leftbar_task1_pg2{
	float:left;
	width: 15%;
	background-image: url("bkgrnd/159.gif");
	height:1170px;
}

#rightbar_task1_pg2{
	position:relative;
	float:right;
	width: 15%;
	background-image: url("bkgrnd/159.gif");
	height:1170px;

}
#items_left{
position:relative;
	float:left;
	margin-left:60px;
	padding-left:100px;
	width:40%;
}
#items_right{
position:relative;
	width:60%;
	padding-left:330px;
}

#items_left1{
position:relative;
	float:left;
	margin-left:60px;
	padding-left:100px;
	width:40%;
}
#items_right1{
position:relative;
	width:60%;
	padding-left:330px;
}
#items_left_task1{
position:relative;
	float:left;
	margin-left:60px;
	padding-left:100px;
	width:40%;
}
#items_right_task1{
position:relative;
	width:60%;
	padding-left:330px;
}

A:link{text-decoration:none;color:black}


#logo a:visited{
	color:#685a5a;
	text-decoration:none;
}
#logo img{
	border:none;
	margin-top:5px;
}

.best{
	width:137px;
}

#calendar{
	font-size:small;
}

.main{
	font-weight:bold;
}

.hr{
	border-top:solid gray 1px;
	margin-left:25px;
}

.purple{
	color:#5e048f;
}

#high{
	position:relative;
	margin-left:60px;
}
